<div *ngIf="user">
  <h2>{{user.name | uppercase}} Details</h2>
  <div>
    <span>id: </span>{{user.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="user.name" placeholder="name" />
    </label>
    <label>height:
      <input [(ngModel)]="user.height" placeholder="height" />
    </label>
    <label>weight:
      <input [(ngModel)]="user.weight" placeholder="weight" />
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>